.team{
  margin-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  h2{
    font-size: 1.8em;
    display: inline-block;
    border-bottom: 2px solid red;
    margin-bottom: 20px;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}


@media (max-width: 700px) {
  
  .team{
    padding-left: 10px;
  padding-right: 10px;
    .grid{
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }
  
}
