.hero-card{
  cursor: pointer;
  background-position: 50% 50%;
  background-size: 200px 220px;
  height: 150px;
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;

  position: relative;
  .hero-card-text{
    position: absolute;
    bottom: 0px;
    width: 200px;
    line-height: 40px;
    text-align: right;
    background-color: #ed1e23;
    border-radius: 5px;
    span{
      padding-right: 10px;
    }
  }
  &:hover{
    opacity: 80%;
  }
}
